@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto&display=swap');
@theme {
  --breakpoint-xs: 450px;
  --breakpoint-xsm:400px;
}

@keyframes growFadeIn {
  from {
    opacity: 0.2;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.product-animate {
  view-timeline-name: --productTimeline;
  view-timeline-axis: block;

  animation-name: growFadeIn;
  animation-fill-mode: both;
  animation-timeline: --productTimeline;
  animation-range: cover 20% entry 80%;
}
